<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="team5_servlet.kr.kh.team5.dao.MemberDAO">
	<insert id="insertMember">	
		INSERT INTO MEMBER(mb_id, mb_pw, mb_nickname, mb_mail, mb_phone , mb_name)
		VALUES(#{member.mb_id} ,#{member.mb_pw} ,#{member.mb_nickname},
		#{member.mb_mail} ,#{member.mb_phone} ,#{member.mb_name})
	</insert>
	<select id="selectMember" resultType="team5_servlet.kr.kh.team5.model.vo.MemberVO">
		SELECT * FROM MEMBER WHERE mb_id = #{mb_id}
	</select>

	<delete id="deleteMember">
	delete  from member where mb_id = #{id}
	</delete>
	<update id="changeMember">
	update member set mb_pw = #{member.mb_pw},
	mb_nickname = #{member.mb_nickname},
	mb_mail = #{member.mb_mail},
	mb_phone = #{member.mb_phone},
	mb_name = #{member.mb_name}
	where mb_id=#{member.mb_id}
	</update>
	

	<select id="findPw" resultType="team5_servlet.kr.kh.team5.model.vo.MemberVO">
		select * from member where mb_id = #{user.mb_id} and 
		mb_mail = #{user.mb_mail}
	</select>
	
	<select id="findId" resultType="team5_servlet.kr.kh.team5.model.vo.MemberVO">
		select * from member where mb_name = #{user.mb_name} and 
		mb_mail = #{user.mb_mail} and mb_phone = #{user.mb_phone}
	</select>
	
	<select id="selectAlistById" resultType="String">
		SELECT LPAD(a_list, 6, 0) AS a_list FROM authority
		 	JOIN ma ON ma_a_name = a_name
		 	JOIN member ON mb_id = ma_mb_id
	 	WHERE mb_id = #{id}

	</select>
	<select id="selectTotalCountByKey" resultType="int">
		SELECT count(*) 
		FROM post
		
			where p_title like concat('%', #{cri.search},'%') 
		
	</select>
	<select id="selectPostList" resultType="team5_servlet.kr.kh.team5.model.vo.PostVO">
	SELECT * 
		FROM post 
		
		
			where p_title like concat('%', #{cri.search},'%') 
		
		
		ORDER BY p_num DESC
		LIMIT 0, #{cri.perPageNum};
	</select>
	
</mapper>